ul{
list-style-type: none;
 text-decoration: none;
  position: sticky;
top: 0;
}

li a{

    text-decoration: none;
}


@media (min-width: 1200px){
  .pantalla-completa{
       height:100vh; 
    }
} 


