ul{
list-style-type: none;

}

li a{

    text-decoration: none;
}

@media (min-width: 1199px) {
  .pantalla-completa {
  height: 100dvh;  
  
}
}


.enlace {
  text-decoration: none;
  position: sticky;
}